body {
    overflow: hidden;
    background-color:bisque;
  
 

  }

.LoginPaper{
  position: relative;
  width: 80%;

   
}
.Page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
 

 
}
.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}


.UserInputs{
  display: flex;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media (min-width: 600px) {
    .LoginPaper {
      width: 80%; 
    }
  }
  
  @media (min-width: 900px) {
    .LoginPaper {
      width: 60%; 
    }
  }

  .imageBox{
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 3%;
  }

  .formBox{
    display:flex;
    justify-content: center;
    align-items: center;
  
  }

