body {
    overflow: hidden; 
    margin: 0;
  }

.LoginPaper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    padding: 5%;
    max-width: 600px;
    width: 85%; 
    justify-content: center;
    align-items: center;
    
}

.Page{
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh; 
}

.title{
    
    
    justify-content: center;
}

.form{
    margin-left:15%;
    justify-content: center;
    align-items: center;
}

.UserInputs{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    width: 75%;
}

@media (min-width: 600px) {
    .LoginPaper {
      width: 80%; /* Adjust the width for screens wider than 600px (tablet) */
    }
  }
  
  @media (min-width: 900px) {
    .LoginPaper {
      width: 60%; /* Adjust the width for screens wider than 900px (desktop) */
    }
  }

  .imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formBox{
    display: flex;
    justify-content: center;
  
    align-items: center;
  }

